 .text__bold {
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.padding-2rem {
  padding: 2rem;
}

.inline {
  display: inline;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bg-color__light {
  background-color: $light;
}