.banner-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin-bottom: 2rem;
  margin: 0 .5rem 2rem .5rem;
}

.container__pill {
  background-color: $white;
  border-radius: 5rem;
  font-family: $Playfair;
  font-size: 1.5rem;
  padding: .55rem 1.87rem;
}

.nav__img {
  background-image: url("./Images.html/NavImg.jpg");
  background-repeat: no-repeat;
  background-size: 120rem 40rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
}

.nav__img-small {
  background-image: url("./Images.html/NavBarSmall.jpg");
  background-repeat: no-repeat;
  background-size: 121rem 10rem;
}