
.content-front__wrapper {
  margin-top: 2rem;

  @media screen and (min-width: 55em) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    margin: 1rem 0 0 1.5rem;
    position: static;
  }
}

.container__colored-small {
  background-color: $light;
  margin: 1rem auto;
  width: 25rem;
  overflow: hidden;
}

.container__colored-big {
  background-color: $light;
  padding: 2rem;

  @media screen and (min-width: 75em) {
    display: inline-block;
    margin: 1rem;
    width: 28rem;
  }
}

.content-blogs__layout {
  margin: 5rem 0 5rem .5rem;

  @media screen and (min-width: 62.5em) {
    margin: 5rem 10rem 10rem 6rem;
  }
}