
.content-front__wrapper {
  margin-top: 4rem;

  @media screen and (min-width: 55em) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    margin: 2rem 0 0 1.5rem;
    position: static;
  }
}

.container__colored-small {
  background-color: var(--light);
  margin: 2rem auto 0;
  width: 25rem;
}

.container__colored-big {
  background-color: var(--light);
  padding: 2rem;

  @media screen and (min-width: 75em) {
    display: inline-block;
    margin: 1rem;
    width: 30rem;
  }
}

.content-blogs__layout {
  margin: 5rem 0 5rem 2rem;

  @media screen and (min-width: 62.5em) {
    margin: 5rem 10rem 10rem 6rem;
  }
}