.image-front {
    height: 19rem;
    width: 25rem;
}
  
.image-front:hover {
  opacity: 80%;
}

.image-blog {
  width: 30rem;

  @media screen and (min-width: 62.5em) {
    height: 28rem;
    width: 45rem;
  }
}

.image-about {
  display: inline-block;
  width: 28rem;

  @media screen and (min-width: 60em) {
    width: 32.5rem;
  }
}

.image-blog__article {
  padding: 10px;
  width: 24rem;

  @media screen and (min-width: 62.5em) {
    width: 28rem;
  }
}